*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{
    font: size 16px;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    background-color: #000;
    font-family:'roboto',sans-serif;
    overflow-x: hidden;
}

nav{
    position:fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 20px 10vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 9;
    transition: 0.5s;
}



nav.bg{
    background-color: #000;

}
.toggle-btn{
   display: none; 
}
.logo{
    width:150px; 
    height: 200px;
    
}

.links-container{
    display: flex;
    list-style: none;
    gap:10px;
}

.links{
    color: #fff;
    text-decoration: none;
    text-transform:capitalize;
    padding: 10px 20px;
    transition:0.5s ;
}

.links:hover{
    opacity:0.5
}

#hero-section{
 position: relative;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #fff;
}

#hero-section canvas{
    position:absolute;
    top:0;
    left: 0;
    z-index: 1;
}

.hero-content{
    position: relative;
    z-index: 2;
}

.hero-headline{
    font-family: 'sahitya',serif;
    font-size :4.5rem;
    text-align: center;

}
.hero-secondary-line{
    text-align: center;
    margin:25px 0 50px ;
    font-size:1.2rem;
}
.btn{
    padding:15px 30px;
    width: fit-content;
    background: #f00;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    margin: auto;
}

.btn.light{
    background: #fff;
    color: #000;
}

.btn.transparent{
    background:transparent;
    border: 2px solid #fff;
}

section{
    padding:60px 10vw;

}
.section-title{
    text-align: center;
    color: #fff;
    font-size:2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
}

.section-title::before{
    content: attr(data-text);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 4.5rem;
    font-weight:900;
    opacity:0.1;
    z-index:-1;
}

.section-info{
    text-align:center;
    width: 50%;
    min-width:300px;
    color: #fff;
    opacity: 0.5;
    margin: 3.5rem auto;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.filters{
    margin:100px 0 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.filter-btn{
   padding:15px 30px;
   font-size:1rem;
    border:none;
    color: #fff;
    background: transparent;
    text-transform: capitalize;
    cursor: pointer;
    transition:0.5s;

}

.filter-btn.active, .filter-btn:hover{
    color: #000;
    background: #fff;
}

.project-gallery{
    margin-top:80px;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap:20px;
    position: relative;

}

.project-card{
    position: relative;
    height: 200px;
}

.project-card.active{
border:10px solid #fff;
}

.project-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition:0.5s;
}

.tags{
    position: absolute;
    left:10px;
    bottom:10px;
    color:#fff;
    width: 90%;
    transition:0.5s;
    opacity:0;
}


.project-card:hover:not(.active) .tags{
    opacity:1;
}

.project-card:hover:not(.active) .project-image{
    opacity:0.6;
}

#project-info{
    margin-top:100px;
    position: relati ve;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.project-details{
    overflow: hidden;
}

.image{
    width:100%;
    height: 300px;
    object-fit: cover;
}

.name{
    color:#fff;
    margin: 30px 0;
    font-weight:2rem;
    text-transform: capitalize;
}

.details{
    color: #fff;
    opacity: 0.5;
    font-size: 1.1rem;
    line-height:1.8rem;
    margin-bottom: 40px;

}

.btn-grps{
    display: flex;
    gap: 20px;
}

.btn-grps .btn{
    margin: 0;
}

.cl-card{
    margin-bottom: 10px;
}

.language{
    display: flex;
    gap: 10px;
}

.icon{
    width: 30px;
    height: 30px;
}

.language .name{
    font-size:1.2rem;
    margin: 0;
}
.progress-track{
    width: 100%;
    margin:20px 0 30px;
    height:5px;
    border-radius:10px;
    background: #1a1a1a;
    overflow: hidden;
}

.progress{
   transition:1s;
   width: 50%;
   background: #fff;
   height: 100%;
    border-radius:10px ;
}

.about-me-container{
    margin-top:100px;
    display: flex;
    gap: 100px;
}
.about-image-container{
    width:40%;
    height: 600px;
    position: relative;
}
.about-image{
    width:80%;
    height:80%;
    object-fit: cover;
}
.download-btn{
position:relative;
bottom:80px;
left:5%;
transform: translateX(-50%);
}

.personal-info{
    color: #fff;

}
.title{
    text-align: center;
    color: #fff;
    text-transform:capitalize;
    font-size:2rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.personal-info .title{
   text-align: left; 
}

.personal-info p{
    margin:30px 0;
    font-size: 1.1rem;

}

.personal-info p span{
    opacity:0.5 ;
}

.social-links{
    color:#fff;
    font-size:2rem;
    margin-right: 20px;
}

.skills{
    position:relative;
    margin: 100px 0;

}

.skill-container{
    margin: 100px;
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    gap: 50px;
}

.skill-card{
    width: 150px;
    height:200px;
    background: #1a1a1a;
    padding:20px;
    position: relative;
    overflow: hidden;
    transition:0.5s;

}

.skill-image{
    width:100px;
    height:100px;
    object-fit: cover;
    display:block;
    margin:auto;
    transition: 0.5s;
}

.skill-name{
    position: absolute;
    color: #fff;
    font-size:1.2rem;
    text-align: center;
    bottom:0 ;
    left:0;
    padding:20px;
    width:100%;
    transition:0.5s;
    border-top: 5px solid #000;
}

.skill-card::after, .skill-card::before{
    content:'';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #000;
    z-index: 2;
    transform: rotate(45deg);

}

.skill-card::before{
    bottom:-20px;
    left:-20px;

}

.skill-card::after{
    bottom: -20px;
    right: -20px;
}

.skill-card:hover{
    background: #000;
}

.skill-card:nth-child(1):hover .skill-name{
    background: #ff5722;
}
.skill-card:nth-child(2):hover .skill-name{
    background: #2196f3;
}
.skill-card:nth-child(3):hover .skill-name{
    background: #f7df1e;
}
.skill-card:nth-child(4):hover .skill-name{
    background: #61dafb;
}
.skill-card:nth-child(5):hover .skill-name{
    background: #83cd29;
}
.skill-card:nth-child(6):hover .skill-name{
    background: #07b6d5;
}
.skill-card:nth-child(7):hover .skill-name{
    background: #336791;
}
.skill-card:nth-child(8):hover .skill-name{
    background: #58aa50;
}
.skill-card:nth-child(9):hover .skill-name{
    background: #ffcb2d;
}

.skill-card:hover .skill-image{
    transform: scale(1.1) translateY(-10px);
}

.edu-exp-container{
    display:flex;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    gap: 60px;
    margin-top: 100px;
}

.edu-exp-card{
 padding-top: 15px;
 position: relative;
 color: #fff;
 padding-left: 60px;
 margin-bottom:50px;

}

.card-icon{
    position: absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    background:#fff;
    color:#000;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;

}

.time{
    padding:15px;
    background: #1a1a1a;
    border-radius: 30px;

}
.card-title{
    font-size: 1.2rem;
    font-weight:300;
    margin:40px 0 30px;

}

.card-title span{
    opacity:0.5
}
.card-info{
    line-height: 1.5rem;

}
.contact-container{
    margin-top:100px;
    display:flex;
    gap:50px;

}

.contact-details{
    width:25%;
    color:#fff;
}
.contact-card{
    position: relative;
    padding-top: 10px;
    padding-left: 60px;
    margin-bottom:40px;

}
.card-title{
    text-transform: capitalize;
    opacity: 0.5;
}
.contact-container .social-links-container{
    font-size: 1.4rem;
    margin-right: 10px; 
}
.contact-form{
    width:75%;

}
input,textarea{
     width:100%;
     padding:20px;
     background:#1a1a1a;
     color:#fff;
     border:none;
     outline: none;
     font-size: 1rem;
     margin-bottom: 20px;
}

.name-email-input{
    display: flex;
    gap:20px;

}
textarea{
    font-family: 'roboto',sans-serif;
    resize: none;
    height:300px;

}
.contact-form .btn{
    margin: 0;
    border:none;
    font-size: 1rem;
    cursor:pointer;
}

@media screen and (max-width:1200px){
    html{
        font-size:15px;

    }
    .project-gallery{
       grid-template-columns: repeat(5,1fr); 
    }
    .project-card{
        height:175px;
    }
    .contact-container{
        position:relative;
        flex-direction: column;
        padding-bottom:70px ;
    }
    .contact-details{
        width:100%;
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }
    .contact-container .social-links-container{
        position:absolute;
        bottom: 0;
    }
    .contact-form{
        width:100%;
    }

}
@media screen and (max-width:992px){

    .hero-headline{
     font-size:3.5rem;
    }
    .filter-btn{
        padding: 10px 15px;

    }
    .project-gallery{
        grid-template-columns: repeat(4,1fr);
    }
    .project-card{
        height:150px;

    }
    #project-info{
        grid-template-columns: repeat(1,1fr);
    }
    .cl-card{
        display: none;
    }

    .cl-card:nth-child(1),
    .cl-card:nth-child(2),
    .cl-card:nth-child(3){
        display: block;
    }
    .cl-card:nth-child(3)::after{
        content:"**Few More";
        color:#fff;
        opacity: 0.5;
    }

    .about-me-container{
        flex-direction: column;
        align-items: center;
    }
    .about-image{
        width: 100%;
        min-width: 300px;
        height:500px;

    }
    .about-image{
        object-fit: cover;
    }
    .personal-info{
        width:100%;

    }

    .edu-exp-container{
        grid-template-columns: 1fr;
    }

    .contact-container{
        flex-direction: column-reverse;
        padding-bottom: 0;

    }
    .contact-details{
        grid-template-columns:repeat(2,1fr) ;
    }
    .contact-container .social-links-container{
        position: relative;
        margin-left:40px;

    }
}
@media screen and (max-width:735px){
    nav{
        background:#000;

    }

    .toggle-btn{
        display:inline-block;
        width:50px;
        height:50px;
        border-radius:2px;
        position: relative;
        cursor: pointer;
    }
    .toggle-btn span{
        position: absolute;
        width: 80%;
        height:2px;
        background: #fff;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        transition: 0.5s;
    }
    .toggle-btn span:nth-child(1){
        top:30%;
    }
    .toggle-btn span:nth-child(3){
        top:70%;
    }
    .toggle-btn.active span:nth-child(1){
        top:50%;
        transform:translate(-50%, -50%) rotate(45deg)
    }
    .toggle-btn.active span:nth-child(3){
        top:50%;
        transform:translate(-50%, -50%) rotate(-45deg)
    }
    .toggle-btn.active span:nth-child(2){
        top:50%;
       opacity: 0;
    }

    .links-container{
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100px;
        left:0;
        gap:0;
        pointer-events: none;
        opacity: 0;
        transition: 0.5s;

    }
    .links-container.active{
        opacity: 1;
        pointer-events:all

    }
    .links{
        display: block;
        width: 100%;
        padding:20px 10vw;
        background:#000;

    }
    .links:hover{
        opacity: 1;
        background: #1a1a1a;
    }
    .project-gallery{
        grid-template-columns: repeat(3,1fr);
    }
    .skill-card{
        width: 120px;
        height: 120px;
        padding: 10px 0;

    }
    .skill-image{
        width: 70px;
        object-fit: contain;
    }
    .skill-name{
        font-size:1rem;

    }
    .contact-details{
        grid-template-columns:repeat(1,1fr) ;
    }
    .contact-container .social-links-container{
         margin-top:30px;
         margin-left: 30px;
    }
}
@media screen and (max-width:500px){
    
    .hero-headline{
        font-size:3rem;

    }
    .hero-secondary-line{
        font-size:1.2rem;
        width:80%;
        display: block;
        margin: 25px auto 50px;
        line-height: 2rem;

    }
    .project-gallery{
        grid-template-columns: repeat(1,1fr);
         
    }
    .name-email-input{
        flex-direction: column;

    }
    .input:nth-child(1){
        margin-bottom: 0;
    }
}